<html>
	<head>
		<title>BookLP</title>
		<!-- Bootstrap Core CSS -->
	    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link href="/stylesheets/landing-page.css" rel="stylesheet">

	    <!-- Custom Fonts -->
	    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	    <!-- jQuery -->
	    <script src="/javascripts/jquery.js"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="/javascripts/bootstrap.min.js"></script>

		<script type="text/javascript" src="/javascripts/angular.min.js"></script>
		<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>-->
		<script type="text/javascript" src="/javascripts/angular-ui-router.js"></script>
		<script src="/javascripts/angularApp.js"></script>
	</head>

	<body ng-app="booklp">
		<div class="page-header" style="text-align: center; background-color: #bd3333; margin-bottom: 0px; margin-top: 0px; padding-top: 2%;">
   			<h1>Listes d'apple LP Informatique</h1>
  		</div>

  		<nav class="navbar navbar-default" ng-show="isLoggedIn()" ng-controller="NavCtrl">

			<div class="container">
				<ul class="nav navbar-nav">
					<li ng-show="isProf()"><a href="#/espaceProf">Espace Prof</a></li>
					<li ng-hide="isProf()"><a href="#/espaceEtudiant">Espace Etudiant</a></li>
					<li ng-show="isProf()"><a href="#/listes">Listes</a></li>
					<li ng-show="isProf()"><a href="#/ajouterCours">Créer Cours</a></li>
					<li><a href="" ng-click="logOut()">Logout</a></li>
				</ul>
			</div>

		</nav>

  		<div class="row">
  			<div class="col-md-6 col-md-offset-3">
  				 <ui-view></ui-view>
  			</div>
  		</div>

		<footer style="text-align: center"><hr><p>Book LP - Gestion de liste d'appel informatisée.</p></footer>	

	<!-- *************  Login template *************  -->

			<script type="text/ng-template" id="/login.html">
	
			<div ng-show="error" class="alert alert-danger row">
		    	<span>{{ error.message }}</span>
		  	</div>

		  	<form ng-submit="logIn()" class="form-horizontal" role="form">
		  		<h3 style="text-align: center">Login</h3>
		  		<br>
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-5 control-label">
                            Username</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username" required>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-5 control-label">
                            Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password" required>
                    </div>
                </div>
               
                <div class="form-group last">
                    <div class="col-sm-offset-6 col-sm-9">
                        <button type="submit" class="btn btn-success btn-sm">
                            Login</button>
                    </div>
                </div>
            </form>
			
		</script>

	<!-- *************  Espace Prof template *************  -->

		<script type="text/ng-template" id="/espaceProf.html">

			<h2>Bienvenue {{currentUserName()}},</h2>
			<center>
		        <h2>Liste des cours</h2>
		    </center>

			<br>

			<table class="table table-bordered">
				<thead >
					<tr>
						<th></th>
						<th></th>
					<tr>
				</thead>
				<tbody>
					<tr ng-repeat="cour in cours">
						<td>{{cour.titre}}</td>
						<td><a href="#/ajouterListe">Créer liste d'appel</a></td>
					<tr>
				</tbody>
			</table>

		</script>	

	<!-- *************  Creation Cours template *************  -->

		<script type="text/ng-template" id="/ajouterCours.html">

			<div>
				<h2 style="text-align: center">Creer un nouveau cours</h2>

				<br>
				<form ng-submit="ajouterCours()">

					<div class="form-group">
						<label for="titre">Titre : </label>
						<input class="form-control" id="titre" type="text" ng-model="titre"/>
					</div>
					
					<button type="submit" class="btn btn-success col-xs-offset-6">Créer Cours</button>
				</form>

			</div>

		</script>

	<!-- *************  Creation Liste template *************  -->

		<script type="text/ng-template" id="/ajouterListe.html">

			<div>
				<h2 style="text-align: center">Creer une liste d'appel</h2>

				<br>
				<form ng-submit="ajouterListe()">

					<div class="form-group">

						<div class="form-group">
							<label for="cours">Cours : </label>
							<input class="form-control" id="cours" type="text" ng-model="cours"/>
						</div>

						<label for="periode">Période : </label>
												<select name="periode" id="periode" ng-model="periode">
													<option value="Matin">Matin</option>
													<option value="Apres-Midi">Apres-Midi</option>
												</select>
					</div>
					
					<button type="submit" class="btn btn-success col-xs-offset-6">Créer Liste</button>
				</form>

			</div>

		</script>

	<!-- *************  Mes Listes template *************  -->

		<script type="text/ng-template" id="/listes.html">
			<h2 style="text-align: center">Mes listes d'appel</h2>
			<br>

  			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Cours</th>
						<th>Date</th>
						<th>Periode</th>
						<th>Status</th>
						<th>Voir présence</th>
					<tr>
				</thead>
				<tbody>
					<tr ng-repeat="liste in listes">
						<td>{{liste.cours}}</td>
						<td>{{liste.date}}</td>
						<td>{{liste.periode}}</td>
						<td>{{liste.status}}</td>
						<td><a href="#/liste/{{liste._id}}">Ouvrir liste</a></td>
					<tr>
				</tbody>
			</table>
		</script>


	<!-- *************  Espace Etudiant template *************  -->

		<script type="text/ng-template" id="/espaceEtudiant.html">

			<h2>Bienvenue {{currentUserName()}},</h2>
			<center>
		        <h2>Listes d'appel</h2>
		    </center>

			<br>

			<table class="table table-bordered">
				<thead >
					<tr>
						<th>Cours</th>
						<th>Professeur</th>
						<th>Date</th>
						<th>Periode</th>
						<th>Status</th>
						<th>Valider présence</th>
					<tr>
				</thead>
				<tbody>
					<tr ng-repeat="liste in listes">
						<td>{{liste.cours}}</td>
						<td>{{liste.prof}}</td>
						<td>{{liste.date}}</td>
						<td>{{liste.periode}}</td>
						<td>{{liste.status}}</td>
						<td><a href="#/liste/{{liste._id}}">Accès liste d'appel</a></td>
					<tr>
				</tbody>
			</table>

		</script>

	<!-- *************  Voir Liste template *************  -->

		<script type="text/ng-template" id="/liste.html">
			
			<h2 style="text-align: center"><strong>{{liste.prof}} - {{liste.cours}} - {{liste.date}} - {{liste.periode}}</strong></h2>

			<br>

			<table class="table table-bordered">
				<thead >
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>N° Etudiant</th>
						<th>Présence</th>
						<th>Date</th>
					<tr>
				</thead>
				<tbody>
					<tr ng-repeat="etudiant in liste.etudiants">
						<td>{{etudiant.nom}}</td>
						<td>{{etudiant.prenom}}</td>
						<td>{{etudiant.numero}}</td>
						<td>{{etudiant.etat}}</td>
						<td>{{etudiant.date}}</td>
					<tr>
				</tbody>
			</table>

			<div ng-show="isProf()" >
				<button class="btn btn-success" ng-click="closeListe()" ng-show="CloseButton">{{button}}</button>
			</div>

			<div ng-hide="isProf()">
				<button class="btn btn-success" ng-click="setStudentState()" ng-show="PresentButton">{{button2}}</button>
			</div>

		</script>


	</body>

</html>
